---
import App from '@components/App'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='description'
      content='Print Cable Tags on 4x6 Shipping Labels'
    />
    <meta
      name='author'
      content='Gaurav Khanna <@gvkhna>'
    />
    <style>
      @page {
        margin: 0px !important;
      }
      @media print {
        @page {
          margin: 0in !important;
          size: 4in 6in !important;
          size: portrait !important;
        }
      }
    </style>
  </head>
  <body>
    <App client:load />
  </body>
</html>
